annotated-types==0.7.0
attrs==24.3.0
certifi==2024.12.14
charset-normalizer==3.4.1
confluent-kafka==2.4.0
idna==3.10
jsonlines==4.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
orjson==3.10.14
pydantic==2.10.5
pydantic-settings==2.6.1
pydantic_core==2.27.2
python-dotenv==1.0.1
quixstreams==3.5.0
referencing==0.35.1
requests==2.32.3
rocksdict==0.3.25
rpds-py==0.22.3
typing_extensions==4.12.2
urllib3==2.3.0
